.hero-section {
    position: relative;
    margin-top: 100px;
    height: 70rem;
    .hero-image {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.hero-info {
    padding-top: 70px;
    // width: 800px;
    // margin-left: 168px;
    h1 {
        font-size: 2.9rem;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
        padding: 15px 0;
    }
    button {
        svg {
            font-size: 1.35rem !important;
        }
    }
}

.hero-dark {
    color: #fff;
}
.hero-light {
    color: #000 !important;
}

@media (max-width: 1300px) {
    .hero-image {
        max-width: 65% !important;
    }
}

@media (max-width: 991.99px) {
    .hero-section {
        height: 50rem;
        margin-top: 30px;
    }
    h1 {
        font-size: 2rem !important;
    }

    p {
        font-size: 1.2rem !important;
    }
    .hero-image {
        top: 25rem !important;
    }
}
