.about-section {
    padding-bottom: 16px;
    .card {
        background-color: transparent !important;
        border: none !important;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 2rem;
        padding: 2.4rem;
    }
    .card-body {
        .card-text {
            font-size: 18px;
            font-weight: 400;
            text-align: justify;
        }
    }
    .about-content {
        .content-row {
            margin-bottom: 178.63px !important;
        }
    }
}
.aboutus-section {
    margin-bottom: 7em;
}

.why-sochware {
    ul {
        list-style: none;
        padding-left: 1em;
        li {
            display: flex;
            margin-bottom: 20px;
            img {
                width: 20px;
            }
        }
    }
}
.team-slider {
    .card {
        box-shadow: unset !important;
    }
    .slick-dots {
        position: unset !important;
    }
    &.hero-light {
        background-color: #f6faff;
        .slick-dots li button:before {
            background: #2836a0 !important;
        }
    }
    .social-links {
        img {
            width: 50px !important;
            height: 20px !important;
        }
    }
}
.partners {
    margin: 12em 0 12em 0;
}
.partner-logo {
    display: flex;
    width: 100%;
    position: relative;
    flex-flow: row wrap;
    padding-left: 10%;
}
.partner-circle {
    width: 18%;
    height: auto;
    flex-basis: 8%;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    padding: 58px;
    margin-right: 50px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

@media (max-width: 991.99px) {
    .about-section .card-body {
        padding: 14px !important;
    }
    .about-section .about-content .content-row {
        margin-bottom: 45.63px !important;
    }
}
@media (max-width: 767.99px) {
    .about-section .card-body {
        padding: 14px !important;
    }
    .about-section .about-content .content-row {
        margin-bottom: 45.63px !important;
    }
}
