.working-section {
    padding: 100px;
    &.hero-light {
        background-color: #e1e3f5;
        .group-feature {
            background-color: #fff;
        }
    }
}

.working-title {
    padding: 40px;
    text-transform: uppercase;
}

.work-content {
    padding-top: 2vw;
    .group-feature {
        min-height: 330px;
        .group-image {
            margin-bottom: 22px;
        }
    }
}

@media (min-width: 1200px) {
    .working-section {
        margin-top: -346px;
    }
    .working-title {
        padding: 0;
    }
}
