.our-services {
    padding-top: 56px;
    .service-title {
        margin-bottom: 95.48px;
    }
}
.content-row {
    margin-bottom: 178.63px;
}
.service-description {
    padding: 44px 44px 44px 50px;
}
.service-image img {
    width: 100%;
    border-radius: 27px;
}
.content-body {
    text-align: justify;
    margin-bottom: 54px;
}
