.navbar {
    padding-top: 28px !important;
}
.navbar-nav {
    a {
        // font-size: 22px !important;
        font-weight: 600px !important;
        transition: ease-in-out 1s;
    }
    button,
    button:hover,
    button:active,
    button:focus {
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
    }
}

.dark-class {
    .nav-link {
        color: #fff !important;
        .nav-link:hover {
            color: #fff;
        }
    }
    .nav-link.active {
        border-radius: 6px;
        color: #000 !important;
        background-color: #fff !important;
    }
}
.light-class {
    .nav-link {
        color: #000 !important;
        .nav-link:hover {
            color: #000;
        }
    }
    .nav-link.active {
        border-radius: 6px;
        color: #fafbfc !important;
        background-color: #2836a0 !important;
    }
}

@media screen and (min-width: 992px) {
    // .navbar {
    //     padding: 1.5rem 144px !important;
    // }

    .nav-link {
        margin-right: 59px;
    }
    .nav-link.active {
        width: 100px !important;
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
