.nav-link {
    color: #fff !important;
    .nav-link:hover {
        color: #fff;
    }
}
.nav-link.active {
    border-radius: 6px;
    color: red !important;
    background-color: #fff !important;
}
